<div class="cart-wrapper d-flex flex-column">
  <mat-toolbar *ngIf="forSideNav">
    <span> {{ copy.title[lang] }}</span>
    <span class="spacer"></span>
    <button mat-icon-button class="" aria-label="close icon" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <div class="m-1 item-wrapper">
    <div class="mb-2" *ngFor="let item of cartList; let i = index">
      <div class="d-flex m-1">
        <div
          class="img-wrapper d-flex justify-content-center align-items-start">
          <img [src]="item.imageUrl" class="img-thumbnail m-1" alt="prod-img" />
        </div>
        <div class="desc ms-1" [ngClass]="{ 'pe-3': !isEcom }">
          <div>{{ item.product.descripcion }}</div>
          <div class="note-desc" *ngIf="showPrices()">
            {{
              getPrice(item.product)
                | currency : 'USD' : 'symbol-narrow' : '0.0-2'
            }}
            / {{ getUnit(item.product.unidad) | lowercase }}
            <span *ngIf="item.product.packaging === 'caja'">
              |
              {{
                item.product.precioCajaEcom
                  | currency : 'USD' : 'symbol-narrow' : '0.0-2'
              }}
              {{ copy.box[lang] }}
            </span>
          </div>
          <div class="note-desc">
            {{ item.totalQ | number : '0.0-2' }}
            {{ getUnit(item.product.unidad) | lowercase }}
            <span *ngIf="item.product.packaging === 'caja'">
              | {{ item.boxes }} {{ copy.boxes[lang] }}
            </span>
          </div>
          <div class="note-desc">
            <button
              class="remove-btn"
              mat-button
              aria-label="remove"
              (click)="remove(i)">
              {{ copy.remove[lang] }}
              <mat-icon class="material-icons-outlined remove-icon"
                >delete</mat-icon
              >
            </button>
          </div>
        </div>
        <div class="ms-1 pe-3 text-end item-subTotal" *ngIf="showPrices()">
          {{ item.subTotal | currency : 'USD' : 'symbol-narrow' : '0.2-2' }}
        </div>
      </div>
    </div>
    <div class="m-3" *ngIf="cartList.length < 1">{{ copy.empty[lang] }}</div>
  </div>

  <div *ngIf="cartList.length > 0" class="footer d-flex flex-column">
    <div *ngIf="showPrices()">
      <div class="subTotal d-flex justify-content-between pt-3">
        <span class="ms-2 ps-3">Sub Total</span>
        <span class="me-2 pe-3">
          {{
            qObj!.subTotal || 0 | currency : 'USD' : 'symbol-narrow' : '0.2-2'
          }}</span
        >
      </div>
      <div
        class="subTotal d-flex justify-content-between pt-1"
        *ngIf="isEcom === false">
        <span class="ms-2 ps-3">IVA</span>
        <span class="me-2 pe-3">
          {{
            qObj!.subTotal * 0.21 || 0
              | currency : 'USD' : 'symbol-narrow' : '0.2-2'
          }}</span
        >
      </div>
      <div
        class="subTotal d-flex justify-content-between pt-1"
        *ngIf="isEcom === false">
        <span class="ms-2 ps-3 fw-bold">{{ copy.total[lang] }}</span>
        <span class="me-2 pe-3 fw-bold">
          {{
            qObj!.subTotal * 1.21 || 0
              | currency : 'USD' : 'symbol-narrow' : '0.2-2'
          }}</span
        >
      </div>
      <div
        class="ms-2 ps-3 pt-2 me-2 pe-3 subtotal-note"
        [ngClass]="{ 'pb-3': isEcom === false }">
        {{ copy.taxShipping[lang] }}
      </div>
      <div class="row mx-2 mt-2 pb-3" *ngIf="isEcom === true">
        <div class="col d-flex">
          <mat-checkbox
            color="primary"
            class="me-2"
            [(ngModel)]="termsAccepted"></mat-checkbox>
          <div class="flex-grow-1 ps-2 m-auto subtotal-note">
            {{ copy.acceptance[lang] }} {{ copy.terms[lang] }},
            {{ copy.privacy[lang] }}, {{ copy.returns[lang] }}
          </div>
        </div>
      </div>
    </div>
    <!-- boton para presupuestos -->
    <button
      [disabled]="termsAccepted === false && isEcom === true"
      *ngIf="forSideNav && !eComSc.showPrices()"
      class="btn btn-quadri buy-btn"
      (click)="endSale()">
      <span>{{ copy.closeQuote[lang] }}</span>
    </button>

    <!-- boton para e-com o muestras -->
    <button
      [disabled]="termsAccepted === false && isEcom === true"
      *ngIf="forSideNav && eComSc.showPrices()"
      class="btn btn-quadri buy-btn"
      type="button"
      (click)="endSale()">
      <span>
        <span>{{ copy.checkout[lang] }}</span>
        <div
          *ngIf="spinner"
          class="ms-2 spinner-border text-light spinner-border-sm"
          role="status"></div>
      </span>
    </button>
  </div>
</div>

<!-- <button
  [disabled]="termsAccepted === false && isEcom === true"
  *ngIf="forSideNav"
  class="buy-btn"
  mat-flat-button
  color="primary"
  (click)="endSale()">
  <span *ngIf="eComSc.showPrices()">
    <span>{{ copy.checkout[lang] }}</span>
    <div
      *ngIf="spinner"
      class="ms-2 spinner-border text-light spinner-border-sm"
      role="status"></div>
  </span>
  <span *ngIf="!eComSc.showPrices()">{{ copy.closeQuote[lang] }}</span>
</button> -->
