.wrapper {
  width: 600px;
  background-color: var(--grey-50);
  position: relative;
  margin: 0 10px 10px 0;
}

.footer-wrapper {
  background-color: transparent;
  color: white;

  .div-input,
  .text,
  .div-subbtn {
    width: 80%;
  }

  .text {
    margin: auto;
  }

  .submit-btn {
    border: none;
  }
}

.text,
.thanks {
  font-size: 0.9rem;
}

mat-form-field {
  width: 100%;
}

// .submit-btn {
//   background-color: var(--primary-600);
//   color: white;
// }

.close-btn {
  position: absolute;
  top: 2px;
  right: 2px;
}

@media (max-width: 576px) {
  .wrapper {
    width: auto;
    margin: 15px;
  }

  .email-input {
    min-width: 150px;
  }
}
