<div class="container my-4 my-md-3">
  <div class="row d-sm-none">
    <div class="col-12">
      <h1 class="d-inline-block">
        {{ setTitle() }}
        <span *ngIf="!samples">{{ allColors[productObj.name].name }}</span>
        <span *ngIf="samples">{{ this.selectedSize.size }}</span>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 my-4 my-md-0 d-flex">
      <div class="thumbs d-lg-flex d-none flex-column me-2">
        <img
          *ngFor="let img of setImgArray(); let i = index"
          [src]="img"
          class="img-thumbnail"
          alt="img"
          (click)="toSlide(i)" />
      </div>
      <swiper
        #swiper
        [slidesPerView]="1"
        [spaceBetween]="0"
        [navigation]="false"
        [pagination]="true"
        [scrollbar]="{ draggable: true }"
        [centeredSlides]="false">
        <ng-template *ngFor="let img of setImgArray()" swiperSlide>
          <img [src]="img" class="img-fluid carrousel-img" alt="" />
        </ng-template>
      </swiper>
    </div>
    <div class="col-12 col-md-6 px-3">
      <div class="row d-none d-md-block">
        <div class="col-12">
          <h1 class="d-inline-block">
            {{ setTitle() }}
            <span *ngIf="!samples">{{ allColors[productObj.name].name }}</span>
            <span *ngIf="samples">{{ this.selectedSize.size }}</span>
          </h1>
        </div>
      </div>
      <div class="row" *ngIf="isEcom || samples">
        <div class="col-12">
          <div class="price">
            <span *ngIf="selectedProduct"
              >{{ getPrice() | currency : 'USD' : 'symbol-narrow' : '0.0-2' }} /
              {{ getUnit(selectedProduct.unidad) | lowercase }}</span
            >
          </div>
          <div
            class="ms-3 stock"
            *ngIf="samples"
            [ngClass]="{
              'have-stock': calcStock().stock,
              'no-stock': !calcStock().stock
            }">
            <span *ngIf="selectedProduct">{{ calcStock().text }}</span>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-4">
        <div class="col-12">
          <button
            mat-stroked-button
            class="me-2 mb-2"
            *ngFor="let sizeObj of productObj.sizes"
            (click)="chooseSize(sizeObj)"
            [ngClass]="{ 'slected-size': sizeObj.size === selectedSize.size }">
            {{ getDim(sizeObj.size) }}
          </button>
        </div>
      </div>
      <form [formGroup]="qForm">
        <div class="row">
          <div class="col-6">
            <mat-form-field appearance="outline" class="q-field">
              <mat-label
                >{{ copy.quantityReq[lang] }} ({{
                  getUnit(selectedProduct.unidad) | lowercase
                }})
              </mat-label>
              <input
                matInput
                formControlName="quantity"
                type="text"
                inputmode="decimal"
                mask="separator.2"
                thousandSeparator=","
                enterkeyhint="next" />
              <mat-hint *ngIf="hasPackaging() && !samples"
                >{{ copy.qHintStart[lang] }} ({{ selectedProduct.uPorBulto }}
                {{ copy.units[lang] }})</mat-hint
              >
            </mat-form-field>
          </div>
          <div class="col-6" *ngIf="!samples">
            <mat-form-field appearance="outline" class="q-field">
              <mat-label>{{ copy.overage[lang] }}</mat-label>
              <input
                matInput
                formControlName="excess"
                mask="separator.0"
                suffix=" %"
                thousandSeparator=","
                inputmode="decimal" />
              <mat-hint>{{ copy.overageHint[lang] }}</mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="row feature-text mt-4 py-3" *ngIf="!samples">
          <!-- <div class="col-6 col-lg first-row-sm" *ngIf="!hasPackaging()">
            <div class="q-title">
              {{ getUnit(selectedProduct.unidad) | lowercase }} netos
              <mat-icon
                class="material-icons-outlined info-icon"
                matTooltip="m2 necesarios considerando desperdicio"
                matTooltipPosition="above">
                info
              </mat-icon>
            </div>
            <div class="q-num">{{ netQ | number : '0.0-2' }}</div>
          </div> -->
          <!-- <div class="col-6 col-lg first-row-sm" *ngIf="!hasPackaging()">
            <div class="q-title">
              unidades
              <mat-icon
                class="material-icons-outlined info-icon"
                [matTooltip]="
                  'conversion de unidades de ' +
                  (getUnit(selectedProduct.unidad) | lowercase) +
                  ' netos'
                "
                matTooltipPosition="above">
                info
              </mat-icon>
            </div>
            <div class="q-num">{{ units | number : '0.0-2' }}</div>
          </div> -->
          <div class="col-6 col-lg">
            <div class="q-title">
              {{ getUnit(selectedProduct.unidad) | lowercase }}
              {{ copy.total[lang] }}
              <mat-icon
                class="material-icons-outlined info-icon"
                [matTooltip]="
                  (getUnit(selectedProduct.unidad) | lowercase) +
                  ' en base a cajas requeridas'
                "
                matTooltipPosition="above">
                info
              </mat-icon>
            </div>
            <div class="q-num">{{ totalQ | number : '0.0-2' }}</div>
          </div>

          <div class="col-6 col-lg" *ngIf="hasPackaging()">
            <div class="q-title">
              {{ copy.boxes[lang] }}
              <mat-icon
                class="material-icons-outlined info-icon"
                [matTooltip]="
                  'cajas necesarias en base a ' +
                  (getUnit(selectedProduct.unidad) | lowercase) +
                  ' netos'
                "
                matTooltipPosition="above">
                info
              </mat-icon>
            </div>
            <div class="q-num">{{ boxes | number : '0.0-0' }}</div>
          </div>

          <div class="col-6 col-lg" *ngIf="!hasPackaging()">
            <div class="q-title">
              {{ copy.units[lang] }}
              <mat-icon
                class="material-icons-outlined info-icon"
                [matTooltip]="
                  'conversion de unidades de ' +
                  (getUnit(selectedProduct.unidad) | lowercase) +
                  ' netos'
                "
                matTooltipPosition="above">
                info
              </mat-icon>
            </div>
            <div class="q-num">{{ units | number : '0.0-2' }}</div>
          </div>
        </div>

        <div class="row mt-2" *ngIf="isEcom || samples">
          <div class="col-12 col-lg-auto">
            <div class="q-title">subtotal</div>
            <div class="q-num sub-total">
              {{ subTotal | currency : 'USD' : 'symbol-narrow' : '0.0-2' }}
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12 d-flex justify-content-lg-start mt-2">
            <button
              class="buy-btn"
              mat-flat-button
              color="primary"
              [disabled]="disableBtn()"
              (click)="addToCart()">
              <!-- <mat-icon class="material-icons-outlined"
                >add_shopping_cart</mat-icon
              > -->
              <span *ngIf="isEcom || samples">{{ copy.addToCart[lang] }}</span>
              <span *ngIf="!isEcom && !samples">{{
                copy.addToQuote[lang]
              }}</span>
              <!-- <span *ngIf="samples">{{ copy.buy[lang] }}</span> -->
            </button>
          </div>
        </div>
      </form>
      <div class="row mt-3" *ngIf="!(samples === true || isEcom === true)">
        <div class="col d-flex">
          <mat-checkbox
            color="primary"
            class="me-2"
            [(ngModel)]="addComplements"></mat-checkbox>
          <div class="flex-grow-1 ps-2 m-auto">
            Agregar al carrito productos complementarios para una correcta
            colocación
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
