.swiper {
  // margin: 0px auto;
  // max-width: 450px;
}

.swiper-slide {
  text-align: center !important;
}

.carrousel-img {
  width: 100%;
  max-width: 450px;
  display: block;
  margin: 0 auto;
}

* {
  --swiper-theme-color: var(--primary-600);
}

.img-thumbnail {
  max-width: 80px;
}

.slected-size {
  background-color: var(--grey-200);
  border: 1px solid var(--grey-800);
}

.mat-mdc-form-field {
  width: 100%;
}

.price {
  font-size: 1.4rem;
  font-weight: 300;
  min-height: 36px;
  display: inline-block;
}

.stock {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 500;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid;
  border-radius: 5px;
}

.have-stock {
  border: 1px solid var(--primary-600);
  color: var(--primary-600);
}

.no-stock {
  border: 1px solid var(--complementary-600);
  color: var(--complementary-600);
}

.q-title {
  font-weight: 500;
  font-size: 0.9rem;
  text-align: center;
  color: var(--grey-400);
}

.q-num {
  font-size: 1.4rem;
  border-bottom: 1px solid var(--grey-400);
  min-height: 36px;
  text-align: center;
}

.sub-total {
  min-width: 200px;
  max-width: 250px;
  font-size: 2rem;
  border: none;
}

.buy-btn {
  padding-top: 4px;
  padding-bottom: 4px;
  min-width: 200px;
  max-width: 250px;
  font-size: 1rem;
  align-self: center;
  height: 48px;
}

.comp-check {
  white-space: pre-line;
}

:root {
  --mat-icon-size: 50px;
}

.info-icon {
  font-size: 15px !important;
  height: 15px !important;
  width: 15px !important;
}

@media (max-width: 992px) {
  .sub-total {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  .buy-btn {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1rem;
    align-self: center;
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 576px) {
  .carrousel-img {
    height: 300px;
    width: auto;
  }

  .first-row-sm {
    margin-bottom: 15px;
  }

  .sub-total {
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  .buy-btn {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 1rem;
    align-self: center;
    width: 100%;
    max-width: none;
  }
}
