.accordion-item-header {
  border-bottom: 0.5px solid black;
  line-height: 2.5rem;
}

.icon-cont {
  margin: auto;
}

.ac-item-title {
  margin: auto;
}

.large-title {
  line-height: 60px;
  font-size: 1.2rem;
}
