<div class="container wrapper">
  <div class="row">
    <div class="col-12 col-lg-6">
      <h1 class="sub-title py-3">Datos de contacto</h1>
      <form *ngIf="copy" [formGroup]="contactForm" (ngSubmit)="sendQuote()">
        <mat-form-field appearance="outline">
          <mat-label>{{ copy.name[lang] }} </mat-label>
          <input matInput formControlName="name" type="text" tabindex="0" />
          <mat-hint>{{ copy.nameHint[lang] }}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ copy.email[lang] }}</mat-label>
          <input
            matInput
            formControlName="email"
            type="email"
            inputmode="email" />
          <mat-hint class="text-wrap">{{ copy.emailHint[lang] }}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ copy.phone[lang] }}</mat-label>
          <input matInput formControlName="phone" type="tel" inputmode="tel" />
        </mat-form-field>

        <div>
          <button
            id="quote"
            mat-raised-button
            color="primary"
            class="lg-btn"
            type="submit"
            [disabled]="!contactForm.valid || cart.length < 1">
            Enviar prespuesto
          </button>
          <span class="ms-2" *ngIf="spinner">
            <span class="">enviando</span>
            <span class="ms-2 align-middle">
              <mat-spinner diameter="20"></mat-spinner>
            </span>
          </span>
        </div>
      </form>
    </div>
    <div class="col-12 col-lg-6 cart-col mt-4 mt-lg-0 p-0 px-lg-3">
      <app-cart></app-cart>
    </div>
  </div>
</div>
