.wrapper{
	// min-height: calc(100vh - var(--navbar-height));
  // min-height: calc(var(--vh, 1vh) * 100 - var(--navbar-height));
  min-height: calc(100vh - 64px);
}

.mat-form-field {
  width: 100%;
}

.cart-col {
  overflow-y: auto;
  height: calc(100vh - 64px);
}

mat-spinner {
  display: inline-block;
}


@media (max-width: 992px) {

  // .wrapper {
  //   min-height: calc(100vh - 64px);
  // }

  .wrapper, .row {
    min-height: inherit;
  }

  .cart-col {
    height: inherit;
  }
}