<div *ngIf="ids$ | async" class="wrapper">
  <!-- <div
    class="imagen-presentacion mb-3 mx-3 mb-lg-4 mx-lg-4"
    [ngStyle]="{
      'background-image':
        'linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
      url(' +
        copy.featureImg +
        ')'
    }"> -->
  <div class="feature-wrapper mb-3 mx-3 mb-lg-4 mx-lg-4" *ngIf="id !== 'all'">
    <!-- mobile feature img -->
    <div
      class="imagen-presentacion d-sm-none"
      [ngStyle]="{
        'background-image':
          'linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url(' +
          copy.featureImgMobile +
          ')'
      }"></div>

    <!-- desktop feature img -->
    <div
      class="imagen-presentacion d-none d-sm-block"
      [ngStyle]="{
        'background-image':
          'linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
      url(' +
          copy.featureImgLg +
          ')'
      }"></div>
    <div class="container title-wrapper pt-5 pb-5 ms-0 ms-lg-5">
      <h1 class="title">{{ copy[lang].pageTitle || copy[lang].title }}</h1>
      <!-- <div class="oneLiner">{{ copy[lang].oneLiner }}</div> -->
      <div class="price-text pt-2 pb-4">
        <span *ngIf="prices$ | async">
          {{ copy[lang].piceText.pre }} {{ currencySymbol() }}
          {{ setPrices()[copy.refPrice]?.price | number: '1.0-0':defLocale() }}
          {{ copy[lang].piceText.post }}
        </span>
      </div>
      <!-- <app-cta-btn
        [text]="copy[lang].ctaBtn"
        [origin]="id"
        [lang]="lang"
        (ret)="getRet($event)">
      </app-cta-btn> -->
      <button
        mat-flat-button
        color="primary"
        (click)="scrollTo('products')"
        type="button"
        [ngClass]="{ 'lg-btn': !((isMobile$ | async) === true) }">
        Cotizar online
      </button>
    </div>
  </div>

  <div class="feature-wrapper mb-3 mx-3 mb-lg-4 mx-lg-4" *ngIf="id === 'all'">
    <!-- mobile feature img -->
    <div
      class="imagen-presentacion d-sm-none"
      [ngStyle]="{
        'background-image':
          'linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url(' +
          copy.featureImgMobile +
          ')'
      }"></div>

    <!-- desktop feature img -->
    <div
      class="imagen-presentacion d-none d-sm-block"
      [ngStyle]="{
        'background-image':
          'linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
      url(' +
          copy.featureImgLg +
          ')'
      }"></div>
    <div class="container title-wrapper pt-5 pb-5 ms-0 ms-lg-5">
      <h1 class="title">{{ copy[lang].pageTitle || copy[lang].title }}</h1>
      <div class="oneLiner">{{ copy[lang].oneLiner }}</div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12 internal-link">
        <app-internal-link [intRoutes]="internalLinks"></app-internal-link>
      </div>
    </div>
  </div>

  <div class="container my-4 my-md-3">
    <div class="row" *ngIf="id !== 'all'">
      <div class="col-12 order-1 col-md-6 order-md-0 my-4 my-md-0">
        <swiper
          [slidesPerView]="1"
          [spaceBetween]="0"
          [autoplay]="{ delay: 3000, disableOnInteraction: false }"
          (swiper)="onSwiper($event)"
          (slideChange)="onSlideChange()"
          [navigation]="false"
          [pagination]="{ clickable: true }"
          [scrollbar]="{ draggable: true }"
          [centeredSlides]="true">
          <ng-template *ngFor="let img of copy.carrouselImgs" swiperSlide>
            <img [src]="img.url" class="img-fluid carrousel-img" alt="" />
          </ng-template>
        </swiper>
      </div>
      <div class="col-12 order-0 col-md-6 order-md-1 px-3">
        <div class="sub-title pb-3">{{ copy[lang].carrouselTitle }}</div>
        <div class="text-break feature-text">
          {{ copy[lang].carrouselCopy }}
        </div>
        <div class="mt-3">
          <cdk-accordion multi>
            <cdk-accordion-item
              #dimItem="cdkAccordionItem"
              role="button"
              class="accordion-item">
              <div
                class="accordion-item-header d-flex"
                (click)="dimItem.toggle()">
                <div class="flex-grow-1">
                  {{ lang === 'es' ? 'Dimensiones' : 'Sizes' }}
                </div>
                <div>
                  <mat-icon *ngIf="!dimItem.expanded" class="align-middle"
                    >add</mat-icon
                  >
                  <mat-icon *ngIf="dimItem.expanded" class="align-middle"
                    >remove</mat-icon
                  >
                </div>
              </div>
              <div
                [@contentExpansion]="
                  dimItem.expanded ? 'expanded' : 'collapsed'
                "
                class="accordion-item-body"
                [style.display]="dimItem.expanded ? '' : 'none'">
                <app-sizes
                  [sizes]="copy.sizes"
                  [thickness]="copy.thickness"></app-sizes>
              </div>
            </cdk-accordion-item>

            <cdk-accordion-item
              #usesItem="cdkAccordionItem"
              role="button"
              class="accordion-item">
              <div
                class="accordion-item-header d-flex"
                (click)="usesItem.toggle()">
                <div class="flex-grow-1">
                  {{ lang === 'es' ? 'Usos' : 'Uses' }}
                </div>
                <div>
                  <mat-icon *ngIf="!usesItem.expanded" class="align-middle"
                    >add</mat-icon
                  >
                  <mat-icon *ngIf="usesItem.expanded" class="align-middle"
                    >remove</mat-icon
                  >
                </div>
              </div>
              <div
                [@contentExpansion]="
                  usesItem.expanded ? 'expanded' : 'collapsed'
                "
                class="accordion-item-body"
                [style.display]="usesItem.expanded ? '' : 'none'">
                <app-uses [uses]="copy.uses"></app-uses>
              </div>
            </cdk-accordion-item>

            <cdk-accordion-item
              *ngIf="copy.special_pieces?.has"
              #specialPiecesItem="cdkAccordionItem"
              role="button"
              class="accordion-item">
              <div
                class="accordion-item-header d-flex"
                (click)="specialPiecesItem.toggle()">
                <div class="flex-grow-1">
                  {{ lang === 'es' ? 'Piezas especiales' : 'Special pieces' }}
                </div>
                <div>
                  <mat-icon
                    *ngIf="!specialPiecesItem.expanded"
                    class="align-middle"
                    >add</mat-icon
                  >
                  <mat-icon
                    *ngIf="specialPiecesItem.expanded"
                    class="align-middle"
                    >remove</mat-icon
                  >
                </div>
              </div>
              <div
                [@contentExpansion]="
                  specialPiecesItem.expanded ? 'expanded' : 'collapsed'
                "
                class="accordion-item-body"
                [style.display]="specialPiecesItem.expanded ? '' : 'none'">
                <app-special-pieces
                  [pieces]="copy.special_pieces.pieces"></app-special-pieces>
              </div>
            </cdk-accordion-item>

            <!-- <cdk-accordion-item
              #pricingItem="cdkAccordionItem"
              role="button"
              class="accordion-item">
              <div
                class="accordion-item-header d-flex"
                (click)="pricingItem.toggle()">
                <div class="flex-grow-1">
                  {{ lang === 'es' ? 'Precios' : 'Pricing' }}
                </div>
                <div>
                  <mat-icon *ngIf="!pricingItem.expanded" class="align-middle"
                    >add</mat-icon
                  >
                  <mat-icon *ngIf="pricingItem.expanded" class="align-middle"
                    >remove</mat-icon
                  >
                </div>
              </div>
              <div
              [@contentExpansion]="
                  pricingItem.expanded ? 'expanded' : 'collapsed'
                "
                class="accordion-item-body"
                [style.display]="pricingItem.expanded ? '' : 'none'">
                <app-prices
                  *ngIf="prices$ | async"
                  [refPrices]="setPrices()"
                  [pricing]="priceCopy[copy.priceCopy][lang]"
                  [currencySymbol]="currencySymbol()"></app-prices>
              </div>
            </cdk-accordion-item> -->

            <cdk-accordion-item
              #specItem="cdkAccordionItem"
              role="button"
              class="accordion-item">
              <div
                class="accordion-item-header d-flex"
                (click)="specItem.toggle()">
                <div class="flex-grow-1">
                  {{ lang === 'es' ? 'Especificaciones' : 'Specifications' }}
                </div>
                <div>
                  <mat-icon *ngIf="!specItem.expanded" class="align-middle"
                    >add</mat-icon
                  >
                  <mat-icon *ngIf="specItem.expanded" class="align-middle"
                    >remove</mat-icon
                  >
                </div>
              </div>
              <div
                [@contentExpansion]="
                  specItem.expanded ? 'expanded' : 'collapsed'
                "
                class="accordion-item-body"
                [style.display]="specItem.expanded ? '' : 'none'">
                <app-specs [specs]="prodSpecs[copy.specs][lang]"></app-specs>
              </div>
            </cdk-accordion-item>
          </cdk-accordion>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-12 my-4">
        <app-colors class="my-2" [colors]="copy.colors"></app-colors>
      </div>
    </div> -->

    <div class="row" id="products" *ngIf="id !== 'all'">
      <div class="col-12 my-4">
        <app-gallery
          *ngIf="dbProducts"
          class="my-2"
          [products]="copy.products"
          [dbProducts]="dbProducts"
          (selected)="selectedProduct($event)"></app-gallery>
      </div>
    </div>

    <div class="row" id="products" *ngIf="id === 'all'">
      <div class="col-12 my-4" *ngIf="dbProducts">
        <div *ngFor="let item of collections | keyvalue: originalOrder">
          <h2 class="ps-3 ps-lg-5 sub-title">{{ item.value[lang].title }}</h2>
          <app-gallery
            class="my-2"
            [products]="item.value.products"
            [dbProducts]="dbProducts"
            (selected)="selectedProduct($event, item.key)"></app-gallery>
        </div>
      </div>
    </div>
  </div>

  <!-- esto es el fab boton para cotizar -->
  <!-- <div class="floating d-sm-none">
    <app-cta-btn
      class=""
      [text]="lang === 'es' ? 'Cotizar' : 'Quote'"
      [origin]="id"
      [lang]="lang"
      [small]="true"
      [header]="true"
      [fab]="true"></app-cta-btn>
  </div> -->
</div>
