<div *ngIf="ids$ | async" class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 internal-link">
        <app-internal-link [intRoutes]="internalLinks"></app-internal-link>
      </div>
    </div>
  </div>
  <div class="pb-0 pb-lg-3">
    <app-product-detail
      *ngIf="dbProducts"
      [productObj]="productWebObj"
      [colId]="colId"
      [collection]="colData"
      (add)="addToCart($event)"
      [dbProducts]="dbProducts"></app-product-detail>
  </div>

  <div class="container pt-3 pt-lg-4 pb-5">
    <app-prod-accordion
      [copy]="collections[this.colId]"
      [lang]="lang"
      [prodSpecs]="prodSpecs"
      [fullWidth]="true"></app-prod-accordion>
  </div>
</div>
