.stepper-wrapper {
  // height: 100%;
}

.narrow-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.primary-index {
  background-color: var(--primary-600);
  color: white;
  border-radius: 100%;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
}