.foot {
  background-color: black;
  color: white;
  font-size: 1rem;
}

.contact-link {
  display: block;
}

.contact-link,
.links {
  text-decoration: none;
}

.social-icons {
  font-size: 30px;
  height: 30px;
  width: 30px;
  --mdc-icon-button-icon-size: 30px;
  // position: absolute;
  // top: 0;
  // left: 0;
}

.nota {
  font-size: 0.7rem;
  margin-left: auto;
}

.ofertas {
  cursor: pointer;
}

.lang-sel {
  max-width: 230px;
  margin: auto;
}

.mat-mdc-icon-button svg,
.mat-mdc-icon-button img {
  width: var(--mdc-icon-button-icon-size);
  height: var(--mdc-icon-button-icon-size);
}
