<div class="contenedor d-flex flex-column flex-md-row align-items-md-stretch">
  <div class="p-4 item mx-auto d-flex flex-column">
    <div class="flex-fill">
      <app-form [origin]="'contacto'" (submitEmiter)="submitted()"></app-form>
    </div>
    <div class="d-flex align-items-center mt-4 py-1 border-top contact-data">
      <div class="d-flex align-items-center">
        <mat-icon class="me-1">phone</mat-icon>
        <a style="color: #212529" id="call-mobile" [href]="callTo()">{{
          isEcom ? copy.phone.eCom : copy.phone.local
        }}</a>
      </div>
      <div class="d-flex align-items-center px-3">
        <mat-icon class="me-1">email</mat-icon>
        <a style="color: #212529" [href]="mailTo()" id="email-link">{{
          isEcom ? copy.email.eCom : copy.email.local
        }}</a>
      </div>
    </div>
  </div>

  <div class="p-4 item d-flex flex-column">
    <ng-container *ngIf="apiLoaded$ | async">
      <google-map
        width="100%"
        [height]="(isMobile$ | async) ? '400px' : '100%'"
        [zoom]="zoom"
        [center]="center"
        [options]="options">
        <!-- Dummy marker for positioning the info window -->
        <map-marker
          #marker="mapMarker"
          [position]="center"
          [label]="label"
          [visible]="false"></map-marker>
        <map-info-window [options]="{ content: infoContent }"></map-info-window>
      </google-map>
    </ng-container>
  </div>
</div>
