<div mat-dialog-content class="wrapper d-flex flex-column">
  <button
    mat-icon-button
    aria-label="close"
    (click)="closeDialog()"
    class="close-btn">
    <mat-icon>close</mat-icon>
  </button>

  <div class="img-wrapper">
    <div
      *ngIf="showSpinner"
      class="loader d-flex flex-column justify-content-center align-items-center">
      <mat-spinner diameter="50"></mat-spinner>
      <div class="mt-4">Cargando imagen</div>
    </div>

    <div class="img-div flex-fill">
      <div
        class="row w-100"
        [ngClass]="{
          'm-0': (isMobile$ | async) === false,
          'h-100': (isMobile$ | async) === false,
          'm-auto': (isMobile$ | async) === true
        }">
        <div
          class="col-12 col-lg-8 img-col d-flex justify-content-center align-items-center mt-4 mt-md-0">
          <img
            (load)="onImageLoad()"
            class="img-fluid rounded image"
            [src]="card.url"
            alt="" />
        </div>
        <div class="col-12 col-lg-4 d-flex flex-column justify-content-center">
          <div
            *ngFor="let prod of card.products; let f = first"
            role="button"
            class="product d-flex mb-3 ms-3 ms-md-0"
            [ngClass]="{ 'mt-3': (isMobile$ | async) === true && f }"
            (click)="toProd(prod)">
            <img
              [src]="colors[prod.color].url"
              alt=""
              class="img-fluid rounded color-image" />
            <div
              *ngIf="!showSpinner"
              class="text flex-fill d-flex flex-column justify-content-center ps-3">
              <div>{{ colors[prod.color].name }}</div>
              <div>{{ prod.size }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- aca -->
  </div>

  <!-- <div class="mt-2">un pie</div> -->
</div>
