.header-btn {
  font-family: Lato, Poppins, Roboto, 'Helvetica Neue', sans-serif;
}

.list-item {
  background-color: var(--primary-600);
  color: white;
}

// .full-width-btn {
//   width: 100%!important;
//   min-width: unset!important;
// }
