.contenedor {
  min-height: calc(100vh - 56px);
}

.columns {
  display: grid;
  grid-auto-flow: column;
}

.card {
  margin: 5px;
  padding: 5px;
}

.filter {
  color: var(--grey-700)
}

.selected-filter {
  text-decoration: underline;
}