<!-- <div class="container wrapper">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div id="address-element"></div>
      <div class="mt-3" id="link-auth-element"></div>
      <div class="mt-3" id="payment-element"></div>
      <button
        mat-flat-button
        color="primary"
        class="lg-btn me-md-3 mb-2 mb-md-0 cta-btn"
        (click)="toPayment()">
        {{ copy.toPayment[lang] }}
      </button>
    </div>
    <div class="col-12 col-lg-6 cart-col mt-4 mt-lg-0 p-0 px-lg-3">
      <app-cart></app-cart>
    </div>
  </div>
</div> -->

<div class="container-fluid wrapper">
  <div class="row">
    <div class="col-12">
      <!-- Display a payment form -->
      <div id="checkout">
        <!-- Checkout will insert the payment form here -->
      </div>
    </div>
  </div>
</div>
