wrapper {
}

.file-ref {
  color: black;
  text-decoration: none;
}

.file {
  // display: flex;
  // flex-direction: column;
  width: 100px;
}

.icon {
  margin: auto;
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.download-text {
  text-align: center;
}
